p, h1, h2, h3, h4, h5, a, label{
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}

.folder-content{
  margin-left: 60px;
  margin-right: 60px;
}



input[type="search"].form-control{
  border-radius: 0;
  border: none;
  padding:3px;
  outline: none;
  letter-spacing: 1px;
  font-size: 12px;
  max-width: 200px;
  background-color: #ccc;
}

.divider {
    display: flex;
    align-items: center;
  }
  
  .section-title {
    margin: 0;
    padding-right: 10px; 
    font-weight: bold; 
  }
  
  hr {
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0;
  }
  

button[type="submit"]{
  height: 150px;
  width: 150px;
  padding: 0;
  border: none;
  background-color: transparent;
}

button[type="submit"] img{
  width: 100%;
}

button[type="submit"] label{
  width: 100%;
  margin-top: -15px;
}

button[type="button"].form-control{
    outline: none;
    border: none;
    min-width: 150px;
    height: 28px;
    padding-right: 15px;
    font-size:smaller;
    border-radius: 0;
    border-bottom:1px solid #ccc;
    margin-bottom: 5px;
    background-color: #03182D; 
    color: #ccc; 
    transition: 0.3s ease-in-out;
}

button[type="button"]:active{
transform: scale(97%);
}