p, h1, h2, h3, h4, h5, a, label{
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
}

 .file-content{
     margin-left: 60px;
     margin-right: 60px;
   }

i{
    font-size: 16px;
}

input[type="search"]{
    border-radius: 0;
    border: none;
    padding:3px;
    outline: none;
    letter-spacing: 1px;
    font-size: 12px;
    background-color: #ccc;
    margin-right: 10px;
  }

.divider {
    display: flex;
    align-items: center;
  }
  
  .section-title {
    margin: 0;
    padding-right: 10px; 
    font-weight: bold; 
  }
  
  hr {
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0;
  }
  

#project-section img{
    width: 200px;
}

button[type="button"] {
    outline: none;
    border: none; 
    height: 35px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:small;
    border-radius: 2px;
    background-color: transparent; 
    color: #ccc; 
    transition: 0.3s ease-in-out;
}

button[type="submit"] {
    outline: none;
    border: none; 
    height: 28px;
    padding-right: 15px;
    font-size:12px;
    border-radius: 0;
    border-bottom:1px solid #ccc;
    background-color: #03182D; 
    color: #ccc; 
    width:95%;
    transition: 0.3s ease-in-out;
}

button[type="button"]:hover {
    background-color: #03182D;
    border: none;
    border-bottom:1px solid #ccc;
    color: #ccc;
}


button[type="button"]:active{
transform: scale(97%);
}

.filters button{
    outline: none;
    width: auto;
    background-color: #07203A;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.4s ease-in-out;
 }

.filters button:hover {
    background-color: #03182D;
    cursor: pointer;
    border: none;
    border-bottom:1px solid #ccc;
    color: #ccc;
}


  .dropdown-list {
    position: absolute;       
    top: 100%;                
    left: 0;                  
    width: 100%;              
    background-color: #03182D;
    border: none;   
    z-index: 1000;            
    max-height: 0;            
    overflow-y: auto;         
    opacity: 0;               
    transition: max-height 0.4s ease, opacity 0.4s ease; 
  }
  
  .dropdown-list.show {
    max-height: 200px;       
    opacity: 1;               
  }
  
  .dropdown-list div {
    padding: 10px;            
    cursor: pointer;          
    color: white;
  }
  
  #dropdownMenuButton:hover{
    border-bottom: 1px solid #ccc;
  }

  .dropdown-list div:hover {
    background: linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
  }

.dropdown-list::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.file-opts{
    background: linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
    border: none;
    border-radius: 50px;
}

.vertical-divider {
    display: inline-block;
    width: 1px;
    height: 25px;
    background-color: #9f9f9f;
    margin: 0 2px; 
  }
  
.opts button{
    width: 25px;
    height: 25px;
    border: none;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
    font-size:medium;
}
.opts button:hover{
    border-bottom:1px solid #ccc;
}

.more-opts button{
    width: 35px;
    border: none;
    border-radius: 50%;
    font-size:small;
}
.file-name{
    margin-left: -100px;
}

.table {
    background-color: transparent;
}

.table th, .table td {
    background-color: transparent;
    color: #ccc;
    font-size: 12px;
}
.table tbody tr:hover{
    background: linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
    cursor: pointer;
}

.table label{
    margin-top: 5px;
}

.no-caret::after {
    display: none; /* Hides the caret */
}

.dropdown-toggle::after {
    display: none; /* Also hides the default Bootstrap caret */
}

.dropdown-menu{
    background-color: #03182D;
}
.dropdown-item:hover{
    background:linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
    color: white;
}

#files img{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
}

.selected-row {
    background:linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
}

@media screen and (min-width: 319px) and (max-width: 500px) {
    .opts-opt {
      display: none;
    }

    .file-content{
        margin-left: 0;
        margin-right: 0;
    }

    .table-responsive{
        overflow-y: auto;
        max-height: 400px;
        padding-bottom: 80px;
    }
  }  