body {
    background-color: #07203A;
    display: flex;
    min-height: 100vh;
    margin: 0;
  }

  .sidebar {
    width: 250px;
    background-color: #03182D;
    color: #ccc;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar .nav-options ul li {
    padding: 5px;
    text-align: center;
  }

  .sidebar .nav-options ul li a {
    color: #ccc;
    text-decoration: none;
    display: block;
  }

  .sidebar .nav-options ul li a:hover {
    background-color: #495057;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    margin-top: 56px;
  }

  .topbar {
    position: fixed;
    top: 0;
    left:257px;
    background-color: #03182D;
    color: #ccc;
    height: 56px;
    width: 82.9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
  }

  .topbar .logo {
    font-size: 20px;
    font-weight: bold;
  }

  input[type="text"]{
    outline: none;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    color: #ccc;
  }

  input[type="email"]{
    outline: none;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    color: #ccc;
  }

  .profile-image{
    border-radius: 50%;
    border: none;
    height: 70px;
    width: 70px;
    margin-right: 10px;
  }