body {
    background-color: #07203A;
    display: flex;
    min-height: 100vh;
    margin: 0;
  }

  .breadcrumbs{
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  @media screen and (min-width: 319px) and (max-width: 500px) {
    .breadcrumbs{
      margin-left: 5px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }  

.navbar-brand{
  background-color: #ccc;
  border: none;
  padding: 10px;
  margin-left: -30px;
}

.nav-item{
  margin-bottom: -6px;
}

.nav-item a{
  color: #ccc;
}

.active-tab {
  background-color: #07203A; 
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #ccc; 
  height: 100%;
  padding: 5px 10px;
  
}

.navbar {
  padding: 0;
}

.navbar-nav{
  padding-bottom: -5px !important;
}

.navbar-brand h5{
  color:#07203A;
}

.navbar-toggler{
  margin-right: -30px;
}

.navbar #navbarContent{
  background-color: #03182D;
}

h1, h2, h3, h3, h4 ,h5 ,p ,a ,span{
  color:#ccc;
  text-decoration: none;
}

h1:hover, h2:hover, h3:hover, h3:hover, h4:hover ,h5:hover, p:hover, a:hover, span:hover{
  color:white;
  text-decoration: none;
}

  hr {
    flex-grow: 1; 
    border: none;
    border-top: 1px solid #ccc; 
    margin: 0;
  }

  .content {
    width: 100%;
    margin-top: 56px;
    position: fixed;
  }

  .topbar {
    position: fixed;
    top: 0;
    background-color: #03182D;
    color: #ccc;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
  }

  .topbar .logo {
    font-size: 20px;
    font-weight: bold;
  }

  #dropdownMenuButton{
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    background-color: #03182D;
}
.dropdown-item{
    color: #ccc;
}

.dropdown-item:hover{
    background:linear-gradient(to top, rgba(105, 105, 105, 0.5)50%,rgba(105, 105, 105, 0.5)50%);
    color: white;
}

  input[type="text"]{
    outline: none;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    color: #ccc;
  }

  input[type="email"]{
    outline: none;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    color: #ccc;
  }

  .profile-image{
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }