p, h1{
    color:#ccc;
    letter-spacing: 1px;
}

body {
    background-color: #07203A;
    display: flex;
    min-height: 100vh;
    margin: 0;
  }


.container {
    height: 80vh;
}


span{
    color: red;
    text-decoration: underline;
}
.main{
    background-color: #03182D;
    border-top: 1px solid rgb(47, 47, 47);
    box-shadow: 5px 8px 15px rgb(0, 0, 0);
    border-radius: 0;
}

.main h1{
    font-size: 100px;
    font-weight: bolder;
}