p, h1{
    color:#ccc;
    letter-spacing: 1px;
}

html, body {
    height: 100%;
}

.container {
    height: 80vh;
}


span{
    color: red;
    text-decoration: underline;
}
.main{
    background-color: #03182D;
    border-top: 1px solid rgb(47, 47, 47);
    box-shadow: 5px 8px 15px 0px rgb(0, 0, 0);
    border-radius: 30px;
}

.main h1{
    font-size: 100px;
    font-weight: bolder;
}